<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/main_layout}"
	layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>단건 조회</title>
</head>
<body>
	<div id="container text-center">
		<h3>사원 정보 조회</h3>
		<table>
			<tr>
				<th>번호</th>
				<td>[[${board.bno}]]</td>
			</tr>
			<tr>
				<th>제목</th>
				<td>[[${board.title}]]</td>
			</tr>
			<tr>
				<th>작성자</th>
				<td>[[${board.writer}]]</td>
			</tr>
			<tr>
				<th>내용</th>
				<td>[[${board.contents}]]</td>
			</tr>
			<tr>
				<th>작성일</th>
				<td>[[${"#dates.fomat(board.regDate, 'yyyy-MM-dd')"}]]</td>
			</tr>
			<tr>
				<th>첨부파일</th>
				<td>[[${board.image}]]</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<button type="button">등록</button>
					<button type="button">수정</button>
					<button type="button">삭제</button>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>